<div class="follow_<%= user.id %>">
  <% if current_user != user %>
    <% if current_user.follow?(user) %>
      <%= link_to user_relationships_path(user.id), remote: true, method: :delete, class: 'nav-link text-secondary' do %>
      <i class="fas fa-toggle-on"></i>
      <% end %>
    <% else %>
      <%= link_to user_relationships_path(user.id), remote: true, method: :post, class: 'nav-link text-secondary' do %>
      <i class="fas fa-toggle-off"></i>
      <% end %>
    <% end %>
  <% end %>
</div>