<%= image_tag user.get_profile_image(100,100) %>
<p>name</p>
<%= user.name %>
<p>introduction</p>
<%= user.introduction %><br>
<%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
  <i class="fas fa-user-cog"></i>
<% end %>
