<div class="container">
  <div class="row">

    <!--<div class="error">-->
    <!--  <%# if @book.errors.any? %>-->
    <!--    <%#= @book.errors.count %>errors-->
    <!--    <ul>-->
    <!--      <%# @book.errors.full_messages.each do |message| %>-->
    <!--      <li><%#= message %></li>-->
    <!--      <%# end %>-->
    <!--    </ul>-->
    <!--  <%# end %>-->
    <!--</div>-->

    <div class="col-md-3">
      <h1>User info</h1>
      <%= render 'users/info', user: current_user %>

      <h1>New book</h1>
      <%= render 'books/form', book_new: @book_new %>
    </div>
    <div class="col-md-8 offset-md-1">
      <%= render 'users/index' users: @users %>
    </div>
  </div>
</div>