<h1>User info</h1>
<%= image_tag current_user.get_profile_image(100,100) %>
<p>name</p>
<%= current_user.name %>
<p>introduction</p>
<%= current_user.introduction %>
<%= link_to "edit", edit_user_path(current_user.id)%>
