<div class="container">
  <div class="row">
    <div class="col">
      <!--<h1 class="jquery">Hello jQuery!</h1>-->
      <div class="mt-5 col-11 col-sm-10 col-lg-8 col-xl-6 mx-auto text-dark">
      <%= flash[:notice] %>
      <h1>Welcome to <i class="fas fa-book"></i><strong>Bookers!!</strong></h1>
      <p>In <i class="fas fa-book"></i><strong> Bookers</strong>,</p>
      <p>you can share and exchange your opinions , inpression , and emotions</p>
      <p>about various books!</p>
      </div>

      <div class="btn-wrapper col-8 mx-auto">
        <div class="row">
          <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-danger btn-block" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-info btn-block" %>

          <div class="wrapper">
            <!--基本設定＆アニメーションの回数設定-->
            <p>下にスクロールをすると動きます</p>
            <br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓

            <div class="flex">
            <div class="fadeInUpTrigger box">すぐ現れるボックス</div>

            <!--スクロールをしたら1度だけアニメーションをする設定 -->
            <div class="fadeInUpTriggerOnce box">スクロールをしたら1度だけアニメーションをする</div>

            <!--違う動きを追加指定-->
            <div class="fadeInDownTrigger box">違う動きを追加指定</div>
            <!--/flex--></div>

            <!--/wrapper--></div>
            <script>
              //スクロールをするたびにアニメーションを行う設定
              $('.fadeInUpTrigger').on('inview', function(event, isInView) {
                  if (isInView) {//表示領域に入った時
                    $(this).addClass('animate__animated animate__fadeInUp');//クラス名が付与
                  } else {//表示領域から出た時
                    $(this).removeClass('animate__animated animate__fadeInUp');//クラス名が除去
                  }
                });

              //スクロールをしたら1度だけアニメーションをする設定
                $('.fadeInUpTriggerOnce').on('inview', function(event, isInView) {
                  if (isInView) {//表示領域に入った時
                    $(this).addClass('animate__animated animate__fadeInUp');//クラス名が付与
                  }
                });

              //違う動きを追加設定
              $('.fadeInDownTrigger').on('inview', function(event, isInView) {
                  if (isInView) {//表示領域に入った時
                    $(this).addClass('animate__animated animate__fadeInDown');//クラス名が付与
                  } else {//表示領域から出た時
                    $(this).removeClass('animate__animated animate__fadeInDown');//クラス名が除去
                  }
                });
            </script>
        </div>
      </div>

    </div>
  </div>
</div>
